
html {
	height: 100%;
}
html {
	font-family: sans-serif;
	/* 1 */
	-ms-text-size-adjust: 100%;
	/* 2 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}
body {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}
img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}
html.w-mod-touch * {
	background-attachment: scroll !important;
}
.products{
	width: 100%;
}


.container{
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto auto;

}

.product{
	
	border: 2px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;

}

.form_product{
	display: block;
	max-width: 500px;
	margin: auto;
}
h3.product_title {
	font-size: 16px;
	line-height: 20px;
	text-align: left;
}
.price {
	font-size: 14px;
	display: inline-block;
	font-weight: 700;
}
.amount {
	display: inline-block;
	width: 30px;
}
.amount input{
	width: 100%;
}
.text_product {
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 20px;
	text-align: left;
}
button.add_to_cart {
	display: block;
	margin: auto;
	width: 80%;
	padding: 7px;
	background: #e0e0e0;
	border: 2px solid;
	margin-bottom: 20px;
}
.header{
	padding: 30px;
}
a.learn_more {
	display: block;
	font-size: 14px;
	color: #000;
}
.list_cart li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
a.cart_link{
	text-decoration: none;
}
.info {
	text-align: left;
}

a.cart_link span {
	text-decoration: none;
	margin-left: 10px;
	font-size: 15px;
	top: -10px;
	position: relative;
}
.cart_link img{
	width: 30px;
	margin-right: 5px;
}
ul.list_cart a {
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.container{
		max-width: 1200px;
		margin: auto;
		display: grid;
		grid-template-columns: auto;
	}

}
